[submodule "visit-manager"]
	path = visit-manager
	url = git@github.com:ct-fiuba/visit-manager.git
[submodule "user-api"]
	path = user-api
	url = git@github.com:ct-fiuba/ct-user-api.git
[submodule "web-app"]
	path = web-api
	url = git@github.com:ct-fiuba/ct-web-app.git
