[submodule "visit-manager"]
	path = visit-manager
	url = git@github.com:ct-fiuba/visit-manager.git
[submodule "user-api"]
	path = user-api
	url = git@github.com:ct-fiuba/ct-user-api.git
[submodule "web-app"]
	path = web-app
	url = git@github.com:ct-fiuba/ct-web-app.git
[submodule "e2e-test-suite"]
	path = e2e-test-suite
	url = git@github.com:ct-fiuba/e2e-test-suite.git
	branch = master
